* {
  padding: 0;
  margin: 0;
}
.image-container {
  margin: 1rem auto 0rem;
  width: 45vw;
  height: 75vh;
  background-color: rebeccapurple;
  background-image: url("/images/clock.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
