* {
  padding: 0;
  margin: 0;
}
.image-container {
  width: 40vw;
  height: 70vh;
  background-color: rebeccapurple;
  background-image: url("/images/clock.png");
  background-repeat: no-repeat;
  background-size: cover;
}
