* {
  padding: 0;
  margin: 0;
}
/* .main {
  margin: auto;
  width: 75vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.main .image-container {
  width: 40vw;
  height: 40vh;
  background-image: url("/images/clock.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}
